<div *ngIf="student" class="card" style="box-shadow: 0.1em 0.1em  0.5em ;">
    <form class="text-center border border-light p-5">

        <p class="h4 mb-4">Change Password</p>

        <p><strong>Tài khoản: </strong>{{student.email}}</p>
        <!-- Password -->


        <!-- newPassword -->
        <input (click)="uppasscurrent();" type="password" name="newpassword" [(ngModel)]="student.password"
            [ngModelOptions]="{standalone:true}" id="newFormPassword" class="form-control mb-2"
            placeholder="Enter New Password">

        <input type="password" name="newpassword2" [(ngModel)]="newpassword2" [ngModelOptions]="{standalone:true}"
            id="newFormPassword2" class="form-control" placeholder="Enter New Password again">

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit" (click)="save();">Save New Password</button>


        <!-- Register -->
        <p>Not a member?
            <a [routerLink]="['/dangky']">Register</a>
        </p>


    </form>
</div>