<div id="menu_top">
  <img src="assets/banner.png" width="100%;">
  <nav class="navbar navbar-expand-sm bg-dark">
    <div class="col-10">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/home']" ><strong><i class="fas fa-home"></i> Trang chủ</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#"><strong><i class="fas fa-info"></i> Giới thiệu</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" [routerLink]="['/lienhe']" href="#"><strong><i class="fas fa-phone"></i> Liên hệ</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#"><strong><i class="fas fa-comment"></i> Góp ý</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#"><strong><i class="fas fa-question"></i> Hỏi đáp</strong></a>
        </li>
      </ul>
    </div>
    <div class="btn-group">
      <div class="dropdown" style="margin: 0px 0px 0px 40px;">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
          Tài khoản
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/dangky']">Đăng ký</a>
          <a class="dropdown-item" [routerLink]="['/dangnhap']">Đăng nhập</a>
          <a class="dropdown-item" href="#">Quên mật khẩu</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
          <a class="dropdown-item" href="#">Đổi mật khẩu</a>
          <a class="dropdown-item" href="#">Cập nhật tài khoản</a>
        </div>
      </div>
    </div>
  </nav>
</div><br>
<div class="row">
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
  <div id="menu_left" class="col-3">
    <div class="card">
      <div class="card-header">
        <i class="fas fa-list"></i>
        <strong> Danh mục</strong>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#" class="text-dark">Kiểm thử và thiết kế</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">SQL Server</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Điện toán đám mây</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Lập trình PHP</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Lập trình android năng cao</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Lập trình android cơ bản</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Thiết kế layout</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Thiết kế giao diện trên android</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Quản lý dự án với Agile</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Internet Marketing</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Lập trình hướng đối tượng với java</a></li>
        <li class="list-group-item"><a href="#" class="text-dark">Lập trình ASP.NET</a></li>
      </ul>
    </div>
  </div>
</div>
