<div class="card" style="box-shadow: 0.1em 0.1em  0.5em ;" >
    <form class="text-center border border-light p-5" >

        <p class="h4 mb-4">Forgot Password</p>

        <!-- Email -->
        <input type="email" name="email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}"
            id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">


        <!-- Verification code -->
        <div class="form-inline">
            <input style="width:200px;" type="text" name="verificationcode" [(ngModel)]="verificationcode"
                [ngModelOptions]="{standalone:true}" id="defaultLoginVerificationcode" class="form-control mb-4"
                placeholder="6-digit verification code">&#160;&#160;

            <i id="code" class="mb-4" type="text">{{reloadid()}}</i>&#160;
            <i style="font-size:25px;" (click)="makeid(6)" class="fas fa-retweet mb-4 text-primary"
                aria-hidden="true"></i>
        </div>
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit" (click)="dangnhap();makeid(6)">Sign in</button>


        <!-- Register -->
        <p>Not a member?
            <a [routerLink]="['/dangky']">Register</a>
        </p>



    </form>
</div>