<div> 
    <div id="list">   
    <div class="row">
        <div class="col-3 offset-2" 
            *ngFor="let sj of subjects | paginate: { itemsPerPage: itempage, currentPage: currpage}">
            <div id="card" class="card" style="width: 300px;" routerLink ="/test/{{sj.id}}">
                <div class="card-header bg-primary">
                    <h5 class="text-light">{{sj.Name}}</h5>
                </div>
                <div class="card-body">
                    <img src="../../assets/{{sj.Logo}}" height="200px" width="260px">
                </div>
            </div><br>  
        </div>
    </div>
    </div>
    <div id="btnpage" class="page-item">
        <pagination-controls (pageChange)="currpage = $event"></pagination-controls>
    </div>
</div>